/deep/ .mat-tab-label {
  min-width: 1px !important;
  font-size: 12px !important;
  color: #232323;
}

div {
  float:right
}

/deep/ .mat-tab-header, .mat-tab-nav-bar{
  border-bottom: none;
}

/deep/ .mat-tab-label-active{

}
